<!DOCTYPE HTML>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2  th:text="#{page.boards}">게시글 목록</h2> </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/boards/add}'|"
                    type="button"  th:text="#{page.addBoard}">게시글 등록</button>
        </div>
    </div>
    <hr class="my-5">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.board.id}">id</th>
                <th th:text="#{label.board.tittle}">제목</th>
                <th th:text="#{label.board.name}">작성자</th>
                <th th:text="#{label.board.created_ts}">등록일시</th>
                <th th:text="#{label.board.updated_ts}">수정일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><a href="board.html" th:href="@{/basic/boards/{boardId}(boardId=${board.id})}" th:text="${board.id}">게시글no</a></td>
                <td><a href="board.html" th:href="@{/basic/boards/{boardId}(boardId=${board.id})}" th:text="${board.tittle}">제목</a></td>
                <td><a th:text="${board.name}">작성자</a></td>
                <td><a th:text="${board.created_ts}">등록일시</a></td>
                <td><a th:text="${board.updated_ts}">수정일시</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>